# GitHub OAuth app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Default values
NEXTAUTH_SECRET=t@c0s
DATABASE_URL=postgres://postgres:postgres@postgres.ffst.svc.cluster.local:5432/postgres?sslmode=disable
NEXT_PUBLIC_APP_URL=http://localhost:3000

# External services
RESEND_API_KEY=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_TEAM_MONTHLY_PLAN_ID=
STRIPE_BUSINESS_MONTHLY_PLAN_ID=
STRIPE_ENTERPRISE_MONTHLY_PLAN_ID=
TINYBIRD_WORKSPACE_TOKEN=
